debug=true
;false

; LDAP Root-user
ldap_user=root
ldap_password=password
ldap_port=1389

; Hostname for dn o=xxx
ldap_hostname=churchtools

; DB Settings
db_server=92.51.135.57
db_port=3306
db_user=dbuser
db_name=dbname
db_password=dbpassword

; Config Your ChurchTools-Installation
ct_host=mghh.churchtools.de
ct_port=80

; http or https
ct_protocol=http
; path to installation
ct_path=/
