; Add debug infos to log
debug=false

; Access to the LDAP System, Root-user
ldap_user=root
ldap_password=password
ldap_port=1389

; Hostname for dn o=xxx, e.g. churchtools
ldap_hostname=churchtools

; DB Settings to access your ChurchTools Installatiomn
db_server=mydbserver
db_port=3306
db_user=dbuser
db_name=dbname
db_password=dbpassword

; Config Your ChurchTools-Installation
ct_host=mghh.churchtools.de
ct_port=80

; http or https
ct_protocol=http
; path to installation
ct_path=/

; To use ssl mode give file names for x509 zertificate
; Use this: openssl req -x509 -newkey rsa:2048 -keyout key.pem -out cert.pem -days 365
; and this to forget password: openssl rsa -in key.pem -out newkey.pem && mv newkey.pem key.pem
; pem_cert_filename=cert.pem
; pem_key_filename=key.pem

; To use self signed add file "ldaprc" and add the following lines
; HOST 91.250.118.186
; PORT 1636
; TLS_REQCERT ALLOW
